
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins';
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        gap: 20px;
        width: 50%;
        margin-left: 50%;
    }

    header button {
        height: 7vh;
        justify-content: center;
        border: none;
        background: transparent;
        font-size: 1.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        border-radius: 10px;
    }

    button img {
        width: 20px;
        height: 20px;
    }
    .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        padding-left: 50px;
        gap: 10px;
    }

    .left h1{
        padding-top: 30px;
        font-size: 35px;
    }
    .left p{
        font-size: 20px;
    }
    .left button{
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        outline: none;
        cursor: pointer;
    }
    .left img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .right h1{
        font-size: 40px;
        font-family: 'Poppins';
    }
    .right p{
        max-width: 80%;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .right a{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .right a img{
        width: 30px;
        text-decoration: none;
    }